<div id="<%= dom_id meeting %>">
  <p>
    <strong>Name:</strong>
    <%= meeting.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= meeting.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= meeting.end_time %>
  </p>

</div>
